

#SeletorDePesquisa{
    left: 15px; margin-top: 75px; position: absolute;
        }
         header{
            position:relative;height: 8%;background-color: #4caf50;
        }.AlinharETamanhoDoCampoDeTexto{
            position: absolute;left: 200px;width:300px; 
        }#BotaoSair{
            background-color: #4caf50;
            padding: 15px 32px;
            color:white;
            border:solid white;
            border-radius: 10px;
            margin-left:90%;
        }.FonteDeTexto{
            font-family:arial ;
          
        }.c{
        text-align:center;
        }header{
            position:relative;height: 4%;background-color: orange;
        }.TelaDeFundo{background-image:url(Imagens/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg);
          background-repeat: no-repeat;background-attachment: fixed;
        }.ImagemPosiçao{
            position:relative;height:30px ;width:30px ;
        }.Sessao{
            position: relative;
            background-color: white;
            opacity: 0.9;
            height:2500px;width: 1500px;
            margin: 0 auto;
        }select{
            position:relative;width: 200px;
        }
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
          }
          .AjustarAlertas{
            top:100px;
          }.AjustarCampoEBotao{
           position: relative;
           top:50px;
          }